@import url("https://fonts.googleapis.com/css2?family=Farro:wght@300&family=Francois+One&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Staatliches&family=Tourney:wght@600&display=swap");

* {
  font-family: sans-serif;
}

body {
  background-color: #ffffff;
  background-image: url("../img/bg-picture.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right 150px;
  background-size: 760px;
  user-select: none;
}

.wrapper {
  width: 1200px;
  margin: 0px auto;
}

* a {
  text-decoration: none;
  color: black;
}

/* ⇓ ⇓ ⇓ ⇓ ⇓ header ⇓ ⇓ ⇓ ⇓ ⇓ */
header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 16px 0;
  background-color: #ffffff;
  opacity: 0.95;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 361px;
}

header a,
span {
  font-family: "Staatliches";
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

header a:nth-child(1) {
  font-family: "Tourney";
  font-weight: 600;
  font-size: 22px;
  line-height: 18px;
  letter-spacing: 0.04em;
  padding-right: 50px;
  text-transform: uppercase;
}

header img {
  display: inline-block;
  width: 238px;
  height: 54px;
}
/* ⇧ ⇧ ⇧ ⇧ ⇧ header ⇧ ⇧ ⇧ ⇧ ⇧ */

/* ⇓ ⇓ ⇓ ⇓ ⇓ section ⇓ ⇓ ⇓ ⇓ ⇓ */
section {
  display: block;
  margin-top: 170px;
  height: 3600px;
}

article {
  display: block;
  max-width: 785px;
  float: right;
}

aside {
  display: block;
  max-width: fit-content;
  position: sticky;
  top: 80px;
}

aside ul {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}

aside li {
  display: block;
  border-bottom: solid 1px #bdbdbd;
  text-transform: uppercase;
  height: 58px;
  padding-bottom: 10px;
  margin: 0 0 69px 0;
}

h2 {
  font-family: "Francois One";
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 20px 0 40px 0;
}

h2 > span {
  font-family: "Farro";
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  vertical-align: top;
}

p {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
  margin-bottom: 70px;
}

p span {
  background-color: #dadada;
}
/* ⇧ ⇧ ⇧ ⇧ ⇧ section ⇧ ⇧ ⇧ ⇧ ⇧ */
