@import url("https://fonts.googleapis.com/css2?family=Farro:wght@300&family=Francois+One&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:wght@500&family=Staatliches&family=Tourney:wght@600&display=swap");

* {
  font-family: sans-serif;
}

body {
  background-color: #ffffff;
  user-select: none;
}

main {
  width: 1200px;
  margin: 0px auto;
}

* a {
  text-decoration: none;
  color: black;
}

/* ⇓ ⇓ ⇓ ⇓ ⇓ header ⇓ ⇓ ⇓ ⇓ ⇓ */
header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 361px;
}

header a,
span {
  font-family: "Staatliches";
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

header a:nth-child(1) {
  font-family: "Tourney";
  font-weight: 600;
  font-size: 22px;
  line-height: 18px;
  letter-spacing: 0.04em;
  padding-right: 50px;
  text-transform: uppercase;
}

header img {
  display: inline-block;
  width: 238px;
  height: 54px;
}
/* ⇧ ⇧ ⇧ ⇧ ⇧ header ⇧ ⇧ ⇧ ⇧ ⇧ */

/* ⇓ ⇓ ⇓ ⇓ ⇓ title ⇓ ⇓ ⇓ ⇓ ⇓ */
article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  width: 326px;
  height: 48px;
}

h2 {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.04em;
}
/* ⇧ ⇧ ⇧ ⇧ ⇧ title ⇧ ⇧ ⇧ ⇧ ⇧ */

/* ⇓ ⇓ ⇓ ⇓ ⇓ cards ⇓ ⇓ ⇓ ⇓ ⇓ */
ul {
  padding: 0;
  width: 1200px;
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
}

ul li {
  width: 270px;
  height: 180px;
  padding: 15px;
  display: block;
  perspective: 540px;
}

li > div {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.8s;
  perspective-origin: left;
  transform-style: preserve-3d;
}

li > div div:last-child,
li > div div:first-child {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

li > div div:last-child {
  transform: rotateY(180deg);
}

li:hover > div {
  transform: rotateY(180deg);
  cursor: pointer;
}
/* ⇧ ⇧ ⇧ ⇧ ⇧ cards ⇧ ⇧ ⇧ ⇧ ⇧ */
